
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-x: hidden;
  background-image: url('../../../public/assets/imgs/posibleFondoPokemons4.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  min-height: 90.2vh; 
}

.cards {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  width: fit-content;
}

.card {
  z-index: 0;
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 10px;
  border-radius: 5px;
  background-color: yellow;
}

@media (min-width: 1070px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(3, 1fr); 
  }
}
@media (min-width: 1600px) {
  .cards {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (min-width: 2000px) {
  .cards {
    grid-template-columns: repeat(6, 1fr); 
  }
}


.pagination {
  flex-direction: row;
  display: inline-block; 
  vertical-align: top; 
  
}








